@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face
{
	font-family: OpenSans-Semibold;
	src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face
{
	font-family: OpenSans-Light;
	src: url(../fonts/OpenSans-Light.ttf);
}
/* reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    line-height:25px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	/*display: block;*/
}
body {
	line-height: 25px;
   direction:rtl;
   /*font-weight:500;*/
 font-family:'OpenSans-Light';
 width:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/* my styles */
.clear {
    clear:both;
}
.wrapper ,.container,.row {
    width:100%;
    height:100%;
    padding:0;
   margin:0;
    overflow:hidden;
  
  background-color:#e8e8e8;
}
.header {
    background-color:#1e1e1e;
    width:100%;
    height:100px;
}

    .logo {
    
       
        width:100px;
        height:80px;
    
    }
    .logo .text{
        float:right;
        top:120px;
    }
.login {

    float:right;
    padding:10px;
}
    /*.nav {
    
    padding:10px;
    overflow:hidden;
    height:25px;
    margin-left: 155px;
  
    margin-top:80px;
    margin-bottom:0px;
     
    position:absolute;
     text-align:center;
     color:#fff;
     font-family:'OpenSans-Semibold';
     direction:ltr;
}
.nav ul  {
     list-style-type: none;
   
    
    overflow: hidden;

}
    .nav ul li  {
       padding:10px ;
       display:inline;

        border:none;
      
     
      
    }

   

 .nav ul li a{
    color:white;
    font-family:'OpenSans-Semibold';
    font-size:14px;
    text-decoration:none;
    
}*/
 .active {
 color:#fff;
 background-color:#1261e3;

      border:none;
    
      
}
 .nav ul li a:hover {
 color:#fcf8ac;
}

 .txtbox {
     padding-left:20px;
	text-align:left;
    margin-top:10px;
	height: 20px;
    width:230px;
	background-color:#2f2f2f ;
	border-radius: 10px;
	border: none;
    color:#1261e3;
  padding:5px
}
.txtbox:focus {
	background-color: #fff;
	box-shadow: 0 0 10px #668cb3;
	/*margin-bottom: 10px;*/
	padding: 5px;
	transition: all .5s;
}

.txtbox2 {
     margin-left:20px;
	border-style: none;
    border-color: inherit;
    border-width: medium;
    text-align:left;
    margin-top:0px;
	height: 26px;
    width:340px;
	background-color:#eeeded;
	border-radius: 10px;
	color:#1261e3;
    padding:5px
}
.txtbox2:focus {
	background-color: #fff;
	box-shadow: 0 0 10px #668cb3;
	/*margin-bottom: 10px;*/
	padding: 5px;
	transition: all .5s;
}
.btn {
    width:80px;
    height:25px;
    background-color:#1261e3;
    color:white;
    border-radius: 10px;
	border: none;
    /*font-family:GESSTwoMedium;*/
    cursor:pointer;
    margin-left:10px;
}
.btn:hover {
	background-color:#fff;
	box-shadow: 0 0 15px #003;
	color: #1261e3;
	transition: all .5s;
}
.link {
    text-decoration:none;
    color:#1261e3;
    margin-left:5px;
}
.link:hover {
   
    color:#fff;

}

.main {
    min-height:1200px;
     height:auto;
 
    background-color:#e8e8e8;
     margin:0px;
}
   
.service {
    width:250px;
    height:400px;
    padding:15px;
   
    


}
    .service img {
        margin-left:75px;
        margin-right:75px;
        margin-top:10px;
    }
    .service p {
        text-align:justify;
       text-wrap:normal;
        border-right: 3px groove #b3b3b3;
        padding-right:20px;
        padding-left:10px;
    }
     .service h1 {
        text-align:center;
         /*margin-left:50px;*/
font-weight:600;
      font-size:36px;
      color:#1261e3;
      margin-bottom:20px;
    }
    .service input {
        margin-top:30px;
        margin-left:100px;
    }

     h1 {
        text-align:left;
         /*margin-left:50px;*/
    font-weight:600;
      font-size:36px;
      color:#1261e3;
      margin-bottom:20px;
     
    }
.pagetitle {

    margin-left:90px;
    margin-right:90px;
    border-radius:15px;
    border:1px solid #cecece;
    border-bottom:3px solid #cecece;
   
    background-color:#e8e8e7;
    padding-left: 70px ;
    padding-top:20px;
 
     height:70px;
}
.social {
    
    color:#2b77f5;
    margin-right:75px;
    margin-left:75px;
    height:65px;
    background-color:#2b77f5;
    margin-bottom:20px;
    

    
}
    .social ul {
        list-style-type:none;
       
    }
   .social ul li {
      
       padding:10px ;
       display:inline;
}
     .social ul li a  img {
         margin-top:-8px;
    }
#follow {
    float:left;
    margin-left:-5px;

}
#cu3er-container							
{
    width:100%;
  height:350px;
  float:left;
  outline:0; 
 position:absolute; 
 top:125px; 
 left:0px;
  z-index:10;

}

.footer {
    background-color:#1e1e1e;
    width:100%;
    height:290px;
     border-bottom:2px double #2f2f2f;
}
footer {
     background-color:#1e1e1e;
    width:100%;
    height:30px;
}
.contact {
    float:left;
    position:absolute;
  margin-top:0px;
    left:80px;
   
    
}
.footer  h1{
    float:left;
    font-size:36px;
    color:#1261e3;
    padding-left:80px;
    padding-top:10px;
    padding-bottom:5px;
    /*border-bottom:2px solid #e8e8e8;*/
    
}
.lastcomments {

    margin-left:65px;
    color:#fff;

}
 footer span {
    text-align:right;
    direction:ltr;
    vertical-align:bottom;
   float:right;
    color:#1261e3;
    z-index:10;
    padding-right:50px;
    
}
.msginput {
    margin-top:10px;
    width:240px;
    height:60px;
    padding:10px;
    border-radius: 10px;
	border: none;
    color:#1261e3;
    background-color:#2f2f2f ;
}
.msginput:focus {
    background-color: #fff;
    box-shadow: 0 0 10px #668cb3;
    /*margin-bottom: 10px;*/
    padding: 5px;
    transition: all .5s;
}

.msginput2 {
    margin-top:10px;
    width:780px;
    height:120px;
    border-radius: 10px;
	border: none;
    color:#1261e3;
    padding:10px;
    background-color:#f0efef;
}
.msginput2:focus {
    background-color: #fff;
    box-shadow: 0 0 10px #668cb3;
    /*margin-bottom: 10px;*/
    padding: 5px;
    transition: all .5s;
}
/* The CSS */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
  width:170px;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}
label {position:relative}
label:after {
    content:'>';
    font:12px "OpenSans-Semibold", monospace;
    color:#1261e3;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

hr {
    color:#fff;
    font-weight:700;
}
.contact p , .lastcomments p {
    color:#fff;
    border-bottom:double;
    border-bottom-color:#2f2f2f;
}

.left {

    height:auto;
    width:491px;
    margin-left:0%;
    text-align:left;
    direction:ltr;
  position:absolute;
    font-size:16px;
    color:#668cb3;
    line-height:30px;
    padding-right:35px;
    padding-left:35px;
    

}
.right {
    height:auto;
    width:40%;
    float:right;
    
   
    font-size:16px;
    color:#668cb3;
    
    text-align:left;
    direction:ltr;
   padding-right:35px;
    padding-left:35px;
    margin-left:35px;
   
}