{% extends 'base.html' %}


{% block maincontent %}


<div class="main-content">
                <h2>
عن المنحه 
                </h2>
                <div class="details">
                    <span class="question">                    هى ايه :
</span>
                    هى عبارة عن منحة دراسية مدتها 9 شهور مقدمة من وزارة الاتصالات بالتعاون مع معهد تكنولوجيا المعلومات iTi
                  <br />
                     <span class="question"> ايه هو الهدف منها:</span> 
                    اعداد خريجين فى مجال تكنولوجيا المعلومات قادرين على المنافسة عالميا يعنى هى خاصة بتكنولوجيا المعلومات وملهاش فى المجالات الادارية يعنى مثلا مفيهاش تخصص ادارة يعنى اللى شايف نفسه بيحب الكمبيوتر لدرجه يبقى هو كمبيوتر وحياته كمبيوتر وشغله كمبيوتر يقدم عليه
               <br />
                    <span class="question"> طب هى المنحة دى هتضيفلى ايه ( ايه اهميتها بالنسبة لى )</span>

                    المنحة دى كلها مميزات
                    <ol>
                        <li>
                            افضل منحة فى مصر
                        </li> 
                        <li>
                            بتاخد مرتب اثناء فترة الدراسة بالكامل
                            لو تقديرك التراكمى جيد هتاخد 800
                            لو جيد جدا 1000
                            لو امتياز 1400
                            يعنى بتتعلم وكمان بتاخد مرتب
                        </li> 
                        <li>
                            مكانة علمية مرتفعة يعنى هتتعلم منها كتييير اوى ومش هتلاقيه فى اى مكان برة وكمان فى اقسام مفيش خريجين منها الا من الأى تى أى فقط ومفيش اى مكان فى مصر بيطلع الناس دى مش هتدرسها أى مكان تانى

                        </li> 
                        <li>
                            و أهم ميزة فيهم كلهم
                            الاى تى اى مش مجرد منحة او كورس لا دى دبلومة يعنى دراسات عليا
                            يعنى لو حبيت تكمل ماجستير الاى تى اى بتأهلك انك تكمل ماجستير فى جامعة نوتينجهام انجلترا أو
                            بادربون المانيا بالنسبة لقسم ميكاترونيكس

                        </li> 
                    </ol>
                   
                    
                     
                     <h2>
                        ايه هى شروطها؟
                    </h2>
                    <ul>
                        <li>
                            - خريج احد الجامعات او المعاهد المصرية المعترف بيها كشهادة عليا وان يكون خريج اخر ثلاث سنوات
                            2013 – 2014 – 2015 وبالنسبة للشباب خريج 2012 و دخل جيش 3 سنين وفاتتك فرصة التقديم قدامك فرصة التقديم السنة دى
                        </li>
                        <li>
                            التقدير التراكمى لشهادة الكلية جيد على الاقل
                        </li>
                        <li>
                            
              
              تم تحديد موقف التجنيد بالنسبة للذكور
                            بالنسبة لمواليد (1: 6 ) نص اول ممكن يقدموا فى المنحة لان الارجاء يتم قبل بدء الدراسة وبكدة هتعرف تأجيل ولا هتخش قبل المنحة
                            أما بالنسبة لمواليد (7 الى 12 ) نص تانى ممكن يقدموا فى حالة وجود سبب يمنعهم عن الجيش اما غير كدة يستعدوا للتقديم السنة اللى جاية مش المرة دى
                        </li>
                        <li>
                            مصرى الجنسية
                        </li>
                        <li>
                            التفرغ الكامل أثناء وقت المنحه 
                        </li>
                    </ul>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}