{% extends 'base.html' %}

{% load my_filters %}
{% load i18n %}

{% load bootstrap3 %}

{% block maincontent %}
<div class="row">

{% if track %}

{% include 'track.html' %}

{% endif %}


<div class="col-md-12 well">

    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'materials' type track.id %}"> ماتيريال عامه</a></li>
            <li><a href="{% url 'questions' type track.id %}" >أسئلة</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active t">

                <h2>
                    ماتيريال عامة

                    {% if user.is_authenticated %}
<a href="{% url 'add_material' %}" class="pull-right btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>

    {% trans "Add Material" %}

</a>
{% endif %}
                </h2>

                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    {% for material in materials|sort_votes %}

                        <div class="panel panel-info">
                            <div class="panel-heading" id="heading{{ material.id }}">
                                <h3 class="panel-title">
                                    <div class="text-center col-md-1">

                                    <div  {% if not user.is_authenticated %} style="visibility: hidden;"{% endif %}>
                                        <a href="#" onclick="Vote('m',{{ material.id }},1, event)"><span
                                                class="glyphicon glyphicon-thumbs-up text-success"> </span></a>
                                    </div>

                                    <div>
                                                <span class="badge label-info" id="m{{ material.id }}">
                                                    {{ material.votes }}
                                                </span>

                                    </div>

                                    <div {% if not user.is_authenticated %} style="visibility: hidden;"{% endif %}>
                                        <a href="#" onclick="Vote('m',{{ material.id }},-1, event)"><span
                                                class="glyphicon glyphicon-thumbs-down text-danger"> </span></a>
                                    </div>

                                </div>
                                    <a data-toggle="collapse" data-parent="#accordion1"
                                       href="#collapse{{ material.id }}" aria-expanded="true"
                                       aria-controls="collapse{{ material.id }}">
                                        {{ material.name }}
                                    </a>
                                <br />
                                <div class="clearfix"></div>
                                </h3>
                            </div>
                            <div id="collapse{{ material.id }}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading{{ material.id }}">
                                <div class="panel-body">
                                    {{ material.description }}
                                </div>
                                <div class="panel-footer">
                                    <a href="{{ material.link }}" class="btn btn-primary">
                                        تحميل
                                    </a>
                                </div>
                            </div>
                        </div>





                    {% endfor %}
                <div class="center">
                                {% bootstrap_pagination materials %}

                    </div>
                </div>
            </div>


        </div>
    </div>


</div>

</div>
{% endblock %}