
{% load my_filters %}

<div class="col-md-12 well">

    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#material" data-toggle="tab"> ماتيريال عامه</a></li>
            <li><a href="#question" data-toggle="tab">أسئلة</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active t" id="material">

                <h2>
                    ماتيريال عامة
                </h2>

                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    {% for material in materials %}

                        <div class="panel panel-info">
                            <div class="panel-heading" id="heading{{ material.id }}">
                                <h3 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1"
                                       href="#collapse{{ material.id }}" aria-expanded="true"
                                       aria-controls="collapse{{ material.id }}">
                                        {{ material.name }}
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse{{ material.id }}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading{{ material.id }}">
                                <div class="panel-body">
                                    {{ material.description }}
                                </div>
                                <div class="panel-footer">
                                    <a href="{{ material.link }}" class="btn btn-primary">
                                        تحميل
                                    </a>
                                </div>
                            </div>
                        </div>





                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane t" id="question">
                {% include 'questions.html' %}
            </div>

        </div>
    </div>


</div>