{% extends 'base.html' %}


{% block maincontent %}
      <div class="row">
                        <div class="col-md-12">
                           
                            <!-- tabs -->
                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="active" style="width:50%;"><a href="#english" data-toggle="tab">English</a></li>
                                    <li style="width:50%;"><a href="#iq" data-toggle="tab">IQ</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="english">
                                        <div class="tabbable tabs-right">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#eng" data-toggle="tab"> ماتيريال عامه</a></li>
                                                <li><a href="#enq" data-toggle="tab">أسئله مكرره</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active t" id="eng">
                                                    <h2>
                                                       EN ماتيريال عامه
                                                    </h2>
                                                    Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                                                </div>
                                                <div class="tab-pane t" id="enq">
                                                    <h2>
                                                        ENأسئله مكرره
                                                    </h2>
                                                    Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="iq">
                                        <div class="tabbable tabs-right">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#iqg" data-toggle="tab"> ماتيريال عامه</a></li>
                                                <li><a href="#iqq" data-toggle="tab">أسئله مكرره</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active t" id="iqg">
                                                    <h2>
                                                        IQماتيريال عامه
                                                    </h2>
                                                    Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                                                </div>
                                                <div class="tab-pane t" id="iqq">
                                                    <h2>
                                                        أسئله مكرره IQ
                                                    </h2>
                                                    Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- tabs right -->
                            
                            
                            
                        </div>
                    </div>
      {% endblock maincontent %}