{% extends 'base.html' %}


{% block maincontent %}
    <div class="row">
        <div class="col-md-12 ">

            <div class="tabbable tabs-right">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#desc" data-toggle="tab">الوصف</a></li>
                                                <li><a href="#material" data-toggle="tab">ماتيريال</a></li>
                                                <li><a href="#questions" data-toggle="tab">أسئله مكرره</a></li>
                                            </ul>

                                            <div class="tab-content">
                                            <div class="tab-pane active t" id="desc">
                                                    <h2>
                                                        Desc
                                                    </h2>
                                                     {{ track.description }}
                                                </div>
                                            <div class="tab-pane t" id="material">
                                                    <h2>
                                                        Material
                                                    </h2>
                                                    {% for material in materials %}
                                                        {% if material.type == 'TRACK' %}
                                                        <div>
                                                            <h2><a href="{{ material.link }}">{{ material.name }}</a></h2>
                                                            <p>{{ material.description }}</p>
                                                        </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="tab-pane t" id="questions">

                                                   <h2>
                                                        Questions
                                                    </h2>
                                                    {% for question in questions %}
                                                        <div>
                                                            <h2>{{ question.header }}</h2>
                                                            <p>{{ question.answer }}</p>
                                                        </div>
                                                    {% endfor %}

                                                </div>





                                            </div>
                                        </div>
        </div>
{% endblock maincontent %}